.button{
    display: flex;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .formArea {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }